.navbar {
    display: flex;
    padding: -10px 1px;
    margin-top: 30px;
    margin-left: 180px;
width: 938px;
height: 73px;
left: 0px;
top: 0px;
background: #F4F5FA;
box-shadow: inset -10px -10px 20px #FFFFFF, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
border-radius: 42.5px;

  }

  .home{
position: relative;
width: 143.68px;
height: 56px;
left: 27.71px;
top: 8px;
background: #F0F0F3;
box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
border-radius: 25px;

  }

  .navbar p.home{
    text-align: center;
    position: relative;
    margin-top: 1px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 55px;
color: #313054;

  }

  .navbar p.about{

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
position: relative;
top: 8px;
left:70px;
color: #BBAACC;
  } 


  .icon-1{
position: relative;
width: 30px;
height: 30px;
left: 92.86px;
top: 20px;
background: #F0F0F3;
box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
border-radius: 25px;

  }

  .navbar p.services{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    top: 8px;
    left:140px;
    color: #BBAACC;
      } 

      .icon-2{
        position: relative;
        width: 30px;
        height: 30px;
        left: 160.86px;
        top: 20px;
        background: #F0F0F3;
        box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
        border-radius: 25px;
        
          }


  .navbar p.portfolio{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    top: 8px;
    left:210px;
    color: #BBAACC;
      } 

      .icon-3{
        position: relative;
        width: 30px;
        height: 30px;
        left: 225.86px;
        top: 20px;
        background: #F0F0F3;
        box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
        border-radius: 25px;
        
          }


  .navbar p.developers{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    top: 8px;
    left:280px;
    color: #BBAACC;
      } 

      .icon-4{
        position: relative;
        width: 30px;
        height: 30px;
        left: 305.86px;
        top: 20px;
        background: #F0F0F3;
        box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
        border-radius: 25px;
        
          }








  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 10px;
  }
  
  .navbar li:last-child {
    margin-right: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #555;
  }
  




  @media screen and (min-width: 360px) and (max-width: 680px) {

    .navbar{
      /* max-width: 90%; */
      /* display: flex; */
      padding: -5px 1px;
      margin-top: 30px;
      margin-left: 15px;
      width: 95%; 
      height: 56px; 
  left: 100px;
  top: 0px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap; 
  background: #F4F5FA;
  box-shadow: inset -10px -10px 20px #FFFFFF, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 42.5px;

    }

    .home{
      position: relative;
      width: 10px;
      height: 36px;
      left: 7.71px;
      top: 8px;
      background: #F0F0F3;
      box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
      border-radius: 25px;
      
        }

        .about{
          position: relative;
      width: 10px;
      height: 36px;
      left: 15.71px;
      top: 8px;
      background: #F0F0F3;
      box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
      border-radius: 25px;
        }
      
        .navbar p.home{
        
      font-size: 10px;
      width: 50px;
      line-height: 35px;
      color: #313054;
      
        }

        .navbar p.about{
margin-left: -57px;
top: 1px;
          font-size: 10px;
      width: 60px;
      line-height: 35px;
      color: #313054;
            } 

            .services{
              position: relative;
              width: 10px;
              height: 36px;
              left: -25.71px;
              top: 8px;
              background: #F0F0F3;
              box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
              border-radius: 25px;
            }

            .navbar p.services{
              margin-left: -63px;
              top: 1px;
                        font-size: 10px;
                    width: 60px;
                    line-height: 35px;
                    color: #313054;
            }
            .portfolio{
              position: relative;
              width: 10px;
              height: 36px;
              left: -25.71px;
              top: 8px;
              background: #F0F0F3;
              box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
              border-radius: 25px;
            }

            .navbar p.portfolio{
              margin-left: -63px;
              top: 1px;
                        font-size: 10px;
                    width: 60px;
                    line-height: 35px;
                    color: #313054;
            }
            .developers{
              position: relative;
              width: 10px;
              height: 36px;
              left: -25.71px;
              top: 8px;
              background: #F0F0F3;
              box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
              border-radius: 25px;
            }

            .navbar p.developers{
              margin-left: -63px;
              top: 1px;
                        font-size: 10px;
                    width: 60px;
                    line-height: 35px;
                    color: #313054;
            }









            .icon-1,
            .icon-2,
            .icon-3,
            .icon-4 {
              display: none; /* Hide the icons on smaller screens */
            }


  }